.container {

    width: 80%;
    margin: 120px auto;
}

.div1 {
    float: left;
    width: 98%;
    height: 100px;
    outline: 1px solid red;


}

.div2 {
    float: left;
    width: 60%;
    height: 300px;
    outline: 1px solid olive;


}

.div3 {
    float: left;
    width: 38%;
    height: 150px;
    outline: 1px solid green;
    
    

}

.div4 {
    float: left;
    width: 38%;
    height: 150px;
    outline: 1px solid maroon;


}

.div5 {
    float: left;
    width: 98%;
    height: 100px;
    outline: 1px solid blue;
    


}