@charset "utf-8";
#wrapper {
    background-color: brown;
    float: inherit;
    width: 900px;
    position: relative;
    margin: 0 auto 0 auto;

}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;

}

a {

    color: yellow;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;

}

nav {
    width: auto;
    height: 50px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    padding: 50px, 0px, 5px, 5px;
    color: yellow;
    
}

nav a {
    color: #000000;
    text-decoration: none
}

nav a:hover {
    color: #909090;
    text-decoration: underline;
}

header {
    width: auto;
    height: 30px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    padding: 50px, 0px, 5px, 5px;
    color: yellow;
    
}

article {
    float: left;
    width: 600px;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #dddddd;
    padding: 255px, 25px, 25px, 25px;
    line-height: 15px;
    height: auto;
}

aside{
    float: right;
    width: 300px;
    background-color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    padding: 25px, 25px, 5px, 25px;
    color: yellow;

}

footer {
    clear: both;
    width: 900px;
    height: 30px;
    background-color: #FC0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 14px;
    color: red;
    padding: 15px, 15px, 5px, 5px; 

}