header {
    text-align: center;
}

nav {
    width: 90%;
    height: 40%;
    padding-top: 10px;
    border-radius: 10px;
    background: #f3f3f3;
    border: 1px solid #cccccc;
    position: absolute;
    text-align: centercenter;
}



nav ul {

    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 auto;
    width: 900px;

}

nav ul li {

    float: left;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}

nav ul li a {
    margin-right: 20px;
    display: block;
    line-height: 30px;
}

.leftsection {

    width: 70%;
    float: let;
}

aside {
    width: 30%;
    float: right;
    border: 1px solid #cccccc;

}

footer {
    margin-tip: 25px;
    float: left;
    width: 100%;
    text-align: left;
}